@inherits LayoutComponentBase

<PageTitle>eShop.UI.Server</PageTitle>

<div class="page">
    <TopNavBar />

    <main>
        <div class="container">
            @Body
        </div>
    </main>
</div>
